// Variables
// $width_p: 42em;
$main_color: mediumorchid;
$second_color: slategrey;
$main_font: 'Alegreya Sans';

// Main container
.main-container {
    width: 60%;
    margin: 0 auto;
}

// Body
body {
    font-family: $main_font;
    font-size: 100%;
}

// Link management
a:link {
    color: $main_color;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: $main_color;
}

/* mouse over link */
a:hover {
    color: $second_color;
}

// Post container
.post-container {
    margin-left: 2.5em;
    margin-bottom: 1.5em;

}

// Line hr styling
hr {
    border-top: 1px solid $second_color;
    opacity: 20%;
}

/* selected link */
a:active {
    color: $main_color;
}

// For responsive design
@media screen and (max-width: 768px) {

    .main-container {
        width: 90%;
    }
}