// Variables
$main_color: mediumorchid;

// Body of resume
body {
    font-family: $main_font;
    font-size: 100%;
}

// Link management
a:link {
    color: $main_color;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: $main_color;
}

/* mouse over link */
a:hover {
    color: slategrey;
}

/* selected link */
a:active {
    color: $main_color;
}

// Body
body {
    width: 100%;
}

// Main container
.main-container {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    font-family: Alegreya Sans;
}

// Avatar picture
img {
    background-size: cover;
    padding: 0.5em;
    width: 110px;
    border-radius: 20%;
}

// List unordered
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}