// Body of resume
body {
    font-family: 'Alegreya Sans';
    font-size: 100%;
}

// Main container
.main-container {
    width: 50%;
    margin: 0 auto;
}

// NavBar for language
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

ul.topnav li {
    float: left;
}

ul.topnav li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
    color: white;
    background-color: #ddd;
}

ul.topnav li a:hover {
    background-color: slategrey;
}

// ul.topnav li a.active {
//     color: white;
//     background-color: slategrey;
// }

// Image css
img {
    width: 8em;
    border-radius: 50%;
}

// Headers styling
h2::before{
    background-color: mediumorchid;
    content: "";
    display: inline-block;
    height: 0.2em;
    position: relative;
    vertical-align: middle;
    width: 5%;
    right: 0.5em;
    margin-left: 0.5em;
}

h2 {
    color: mediumorchid;
}

// Margin text after h2
h2~ul, h2~p {
    margin-left: 10%;
    max-width: 36em;
}

// For responsive design
@media screen and (max-width: 1024px) {

    .main-container{
        width: 90%;
    }

    ul.topnav li.right,
    ul.topnav li {
        float: none;
    }
}