// Variables
$width_p: 42em;
$main_color: mediumorchid;
$main_font: 'Alegreya Sans';

// Body of resume
body {
    font-family: $main_font;
    font-size: 100%;
}

// Link management
a:link {
    color: $main_color;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: $main_color;
}

/* mouse over link */
a:hover {
    color: slategrey;
}

/* selected link */
a:active {
    color: $main_color;
}

// Links after h1
h1+p{
    max-width: $width_p;
    color: $main_color;
    font-size: 0.9em;
}

// Main container
.main-container {
    width: 60%;
    margin: 0 auto;
}

// NavBar for language
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

ul.topnav li {
    float: left;
}

ul.topnav li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover {
    color: white;
    background-color: #ddd;
}

// Image css
img {
    width: 8em;
    border-radius: 50%;
    float: left;
    margin-right: 2em;
}

//Header 2 About
h2#about {
    clear: left;
    padding-top: 1.2em;
}

// Headers styling
h2::before {
    background-color: $main_color;
    content: "";
    display: inline-block;
    height: 0.2em;
    position: relative;
    vertical-align: middle;
    width: 5%;
    right: 0.5em;
    margin-left: 0.5em;
}

h2 {
    color: $main_color;
}

// Margin text after h2
h2~ul,
h2~p {
    margin-left: 5%;
    max-width: $width_p;
}

// Margin top for em skills in Experience
blockquote>p {
    margin-top: -0.5em;
    margin-left: 5.5%;
}

// For responsive design
@media screen and (max-width: 768px) {

    .main-container {
        width: 90%;
    }

    ul.topnav li.right,
    ul.topnav li {
        float: none;
    }
}

@media screen and (max-width: 470px) {

    h1+p {
        clear: left;
    }

    h1 {
        clear: left;
    }

    //Header 2 About
    h2#about {
        padding-top: 0.5em;
    }
}

// For printing pdf
@media print {

    @page {
        size: auto;
        /* auto is the initial value */
        margin: 0mm;
        /* this affects the margin in the printer settings */
    }

    html {
        margin: 2em;
        background-color: #fff;
    }

    .main-container {
        width: 100%;
    }

    ul.topnav {
        display: none;
    }
}