// Variables
// $width_p: 42em;
$main_color: mediumorchid;
$second_color: slategrey;
$main_font: 'Alegreya Sans';
$font_size_content: 1.25em;

// Main container
.main-container {
    width: 60%;
    margin: 0 auto;
}

// Body
body {
    font-family: $main_font;
    font-size: 100%;
}

// Link management
a:link {
    color: $main_color;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: $main_color;
}

/* mouse over link */
a:hover {
    color: $second_color;
}

// Content of post
.content {
    margin-left: 1.2em;
    font-size: $font_size_content;
}

// For responsive design
@media screen and (max-width: 768px) {

    .main-container {
        width: 90%;
    }
}