// Variables
$width_p: 52em;
$main_color: mediumorchid;
$main_font: 'Alegreya Sans';
$media_size_p: 0.875em; // 14px
$print_size_p: 0.75em; // 12px

// Body of resume
body {
    font-family: $main_font;
    font-size: 100%;
}

// Link management
a:link {
    color: $main_color;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: $main_color;
}

/* mouse over link */
a:hover {
    color: slategrey;
}

/* selected link */
a:active {
    color: $main_color;
}

// Main container
.main-container {
    width: 60%;
    margin: 0 auto;
}

// Links after h1
h1+p {
    max-width: $width_p;
    color: $main_color;
}

// All text to 12 px
h2~p~ul>li,
blockquote>p {
    font-size: $media_size_p;
}

// Image css
img {
    width: 8em;
    border-radius: 50%;
    border: 1px solid #ddd;
    padding: 0.2em;
    float: left;
    margin-right: 2em;
}

//Header 2 About
h2#about {
    clear: left;
    margin-top: 1.5em;
}

h2 {
    color: $main_color;
}

// Margin text after h2
h2~ul,
h2~p {
    margin-left: 5%;
    max-width: $width_p;
}

// Margin top for em skills in Experience
blockquote>p {
    margin-top: -0.5em;
    margin-left: 5.5%;
}

// For responsive design
@media screen and (max-width: 790px) {

    .main-container {
        width: 90%;
    }
}

@media screen and (max-width: 500px) {

    h1+p {
        clear: left;
    }

    h1 {
        clear: left;
    }

    //Header 2 About
    h2#about {
        padding-top: 0.5em;
    }
}

// For printing pdf
@media print {

    // Avoid extra print from web browser
    @page {
        size: auto;
        /* auto is the initial value */
        margin: 2.5mm 5mm;
        /* this affects the margin in the printer settings */
    }

    html {
        background-color: #fff;
        // Chrome auto print bg css
        -webkit-print-color-adjust: exact;
    }

    .main-container {
        width: 95%;
        page-break-after: avoid;
    }

    // All text to 12 px
    h2~p+ul>li,
    blockquote>p {
        font-size: $print_size_p;
    }
}